<!DOCTYPE html>
<html>
    <h1>{{post.title}}</h1>
<body>
    
    <div class="container">
  <div>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">sunt aut facere repellat provident occaecati excepturi optio reprehenderit</button>
  <div id="demo1" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
        <div class="clearfix"></div>
     <div >   
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">squi est esse</button>
  <div id="demo2" class="collapse">
    est rerum tempore vitae sequi sint nihil reprehenderit dolor beatae ea dolores neque fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis qui aperiam non debitis possimus qui neque nisi nulla
      <button><a href="editable.html" target="_blank">edit</a></button>
  </div>
         </div>
        <div class="clearfix"></div>
        <div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">ea molestias quasi exercitationem repellat qui ipsa sit aut</button>
  <div id="demo3" class="collapse">
   et iusto sed quo iure voluptatem occaecati omnis eligendi aut ad voluptatem doloribus vel accusantium quis pariatur molestiae porro eius odio et labore et velit aut
  </div>
            </div>
        <div class="clearfix"></div>
        <div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">eum et est occaecati</button>
  <div id="demo4" class="collapse">
    ullam et saepe reiciendis voluptatem adipisci sit amet autem assumenda provident rerum culpa quis hic commodi nesciunt rem tenetur doloremque ipsam iure quis sunt voluptatem rerum illo velit
  </div>
            </div>
        <div class="clearfix"></div>
        <div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">nesciunt quas odio</button>
  <div id="demo5" class="collapse">
    repudiandae veniam quaerat sunt sed alias aut fugiat sit autem sed est voluptatem omnis possimus esse voluptatibus quis est aut tenetur dolor neque
  </div>
            </div>
        <div class="clearfix"></div>
        <div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">dolorem eum magni eos aperiam quia</button>
  <div id="demo6" class="collapse">
    ut aspernatur corporis harum nihil quis provident sequi mollitia nobis aliquid molestiae perspiciatis et ea nemo ab reprehenderit accusantium quas voluptate dolores velit et doloremque molestiae
  </div>
            </div>
        <div class="clearfix"></div>
        
        
</div>
    <div class="clearfix"></div>

    
    
    
</body>
</html>



